.miGrupo
{
   font-size: 60pt;	
}

#primerParrafo
{
	color: rgb(255,0,0);
}
#segundoParrafo
{
	color: rgb(0,255,0);
}
#tercerParrafo
{
	color: rgb(0,0,255);
}
.parrafoTipo1
{
	color: rgb(255,0,0);
}
.parrafoTipo2
{
	color: rgb(0,255,0);
}
.parrafoTipo3
{
	color: rgb(0,0,255);