table.Alumnos
{
	color: Gold;
	background-color: gray;
	border-width: 3px;
	border-color: yellow;
	border-style: solid;
	width: 80%;
	height: 180px;
	padding: 20px;
	
}
table.Records
{
	color: black;
	background-color: gray;
	border-width: 4px;
	border-color: red;
	border-style: solid;
	width: 90%;
	padding: 10px;

}
