/* ---------------------------- */
/*     CLASES TABLA B           */
/*      DEPARTAMENTO            */
/* ---------------------------- */
table.tablaDepartamento
{
	border-collapse: collapse;
	width: 60%;
}
td
{
	border-style: solid;
	border-color: #000000;
	border-width: 3px;
	text-align: center;
	vertical-align: top;
	height: 50px;
}
td.filaGastos
{
	vertical-align: center;
	font-weight: bold;
}
td.columnaTotal
{
    background-color: #4682B4;

}
/* ---------------------------- */
/*     CLASES TABLA C           */
/*       INGRESOS               */
/* ---------------------------- */
table.tablaIngresos
{
	border-collapse: collapse;
	width: 60%;
}
td
{
	border-style: solid;
	border-color: #000000;
	border-width: 3px;
	text-align: center;
	vertical-align: top;
	height: 50px;
	font-family: Verdana;
}
td.columnaIngresos
{
	vertical-align: middle;
	background-color: #b3ff66;
	font-weight: bold;
	font-family: Verdana;

}
td.columnaVentas
{
	background-color: #ffd480;
	font-weight: bold;
	font-family: Verdana;
}
td.columnaTotalProucto
{
    background-color: #ffb3b3;

}